---
import BaseLayout from "../layout/BaseLayout.astro";
const title = "My Homepage";
---

<BaseLayout title={title}>

    <h1 class="text-3xl">{title}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim explicabo officiis nostrum quo, perferendis
        asperiores earum laboriosam amet quasi odit libero quam ab impedit, et ipsum eos unde eligendi sit.</p>

</BaseLayout>